# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Production builds
build/

# Debug and system logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel deployment folder
.vercel

# IDE/Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
.DS_Store
Thumbs.db
